<div class="row my-5">
  <div class="col">
      <h1 class="text-center mb-5">회원정보수정</h1>
      <div id="dmypage">여기</div>
      <div class="text-center my-3">
          <a href="/users/update">
              <button class="btn btn-primary px-5">정보수정</button>
          </a>
      </div>
  </div>
</div>
<!--마이페이지 템플릿-->
<script id="temp_mypage" type="text/x-handlebars-template">
  <div class="card">
      <div class="row p-3">
          <div class="col-md-4 col-lg-5 text-center">
              <img src="{{photo}}" style="width:60%;border-radius:50%;" />
          </div>
          <div class="col mt-3">
              <h5>이름: {{name}}</h5>
              <hr />
              <div class="my-3">주소: {{address}}</div>
              <div class="my-3">전화: {{phone}}</div>
          </div>
      </div>
  </div>
</script>

<script type="module">
  import { app } from "/javascripts/firebase.js"
  import { getFirestore, doc, getDoc } from "https://www.gstatic.com/firebasejs/11.7.3/firebase-firestore.js"
  const db = getFirestore(app)
  console.log(db);
  //사용자 정보 샘플
  let user = {
    name: '나잘난',
    photo: 'https://placehold.co/200x200',
    address: '서울시 금천구 가산디지털2로 한라원앤원 3층',
    phone: '010-555-7777'
  }
  //Firestore에서 가져온 정보로 출력해보기
  //키는 구글 로그인시 발급되는 uid값으로 한다.
  const uid = localStorage.getItem("uid") //uid, userId
  const snapshot = await getDoc(doc(db, `user/${uid}`))
  console.log(snapshot.data());
  user = snapshot.data()
  //핸들바스 템플릿을 가져 옵니다.
  const temp_mypage = document.querySelector('#temp_mypage').innerHTML
  //템플릿 컴파일(머지나 바인딩)
  //화면과 로직을 분리한다.
  //자바스크립트 코드와 태그를 섞어쓰는건 유지보수에도 좋지 않다.
  //라이브러리는 도구 모음이다. - 제어권이 없다.
  const template = Handlebars.compile(temp_mypage)
  //데이터 렌더링 
  const html = template(user)
  //결과 출력하기 - 데이터를 렌더링할 컨테이너 - root생각함.
  document.querySelector('#dmypage').innerHTML = html

</script>




