<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">

    <a class="navbar-brand" href="#">
      <img src="/images/testimonial/man4.png" alt="Avatar Logo" style="width:40px;" class="rounded-pill"> 
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">도서검색</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#">게시판</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
<!-- 로그인, 로그아웃, 로그인한 이메일주소 -->
      <div class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" id="login">
            <a class="nav-link active" aria-current="page" href="#">로그인</a>
          </li>              
          <li class="nav-item" id="email" style="display: inline;">
            <a class="nav-link active" aria-current="page" href="#">현사용자이메일주소</a>
          </li>              
          <li class="nav-item" id="email" style="display: inline;">
            <a class="nav-link active" aria-current="page" href="#">로그아웃</a>
          </li>              
        </ul>
      </div>
<!-- 로그인, 로그아웃, 로그인한 이메일주소 -->
    </div>
  </div>
</nav>